             /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
             
             @media (min-width: 1281px) {
                 /* CSS */
                 .mobile {
                     visibility: hidden;
                     clear: both;
                     display: none;
                 }
                 .map-width {
                     width: 50%;
                 }
                 .iframe-container iframe {
                     /* height: 70%;
                 width: 70%; */
                     width: 1280px;
                     height: 720px;
                 }
                 .font-size-card {
                     font-size: 20px;
                 }
                 /* video {
                     width: 80%;
                     max-height: 80%;
                     margin: auto;
                 } */
             }
             /* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
             
             @media (min-width: 1025px) and (max-width: 1280px) {
                 /* CSS */
                 .mobile {
                     visibility: hidden;
                     clear: both;
                     display: none;
                 }
                 .map-width {
                     width: 50%;
                 }
                 .iframe-container iframe {
                     width: 1280px;
                     height: 720px;
                 }
                 .font-size-card {
                     font-size: 20px;
                 }
                 /* video {
                     width: 100%;
                     max-height: 100%;
                 } */
             }
             /* ----------- iPad Pro ----------- */
             /* Portrait and Landscape */
             /* @media (min-width: 1024px) {
                 
                 .mobile {
                     visibility: hidden;
                     clear: both;
                     display: none;
                 }
                 .map-width {
                     width: 50%;
                 }
                 .Master_Header_Menu_Horizontal {
                     position: sticky;
                 }
                 .Master_Header_Menu_Horizontal ul li {
                     display: none;
                     line-height: 50px;
                     padding: 0px 15px;
                     text-align: center;
                 }
                 .iframe-container iframe {
                     height: 30%;
                     width: 80%;
                 }
                 .col-25 {
                     margin: auto;
                     width: 70%;
                     margin-top: 5px;
                 }
                 .font-size-card {
                     font-size: 16px;
                 }
             } */
             /* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
             
             @media (min-width: 768px) and (max-width: 1024px) {
                 /* CSS */
                 .mobile {
                     visibility: hidden;
                     clear: both;
                     display: none;
                 }
                 .map-width {
                     width: 50%;
                 }
                 .Master_Header_Menu_Horizontal {
                     position: sticky;
                 }
                 .Master_Header_Menu_Horizontal ul li {
                     display: none;
                     line-height: 50px;
                     padding: 0px 15px;
                     text-align: center;
                 }
                 .iframe-container iframe {
                     height: 30%;
                     width: 80%;
                 }
                 .col-25 {
                     margin: auto;
                     width: 70%;
                     margin-top: 5px;
                 }
                 .font-size-card {
                     font-size: 16px;
                 }
                 video {
                     width: 100%;
                     max-height: 100%;
                 }
             }
             /* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
             
             @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
                 /* CSS */
                 .mobile {
                     visibility: hidden;
                     clear: both;
                     display: none;
                 }
                 .map-width {
                     width: 50%;
                 }
                 .Master_Header_Menu_Horizontal {
                     position: sticky;
                 }
                 .Master_Header_Menu_Horizontal ul li {
                     display: none;
                     line-height: 50px;
                     padding: 0px 15px;
                     text-align: center;
                 }
                 .iframe-container iframe {
                     height: 30%;
                     width: 80%;
                 }
                 .col-25 {
                     margin: auto;
                     width: 70%;
                     margin-top: 5px;
                 }
                 .font-size-card {
                     font-size: 16px;
                 }
                 video {
                     width: 100%;
                     max-height: 100%;
                 }
             }
             /* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
             
             @media (min-width: 481px) and (max-width: 767px) {
                 /* CSS */
                 .desktop {
                     visibility: hidden;
                     clear: both;
                     display: none;
                 }
                 .Master_Header_Menu_Horizontal {
                     position: sticky;
                 }
                 .Master_Header_Menu_Horizontal ul li {
                     display: none;
                     line-height: 50px;
                     padding: 0px 15px;
                     text-align: center;
                 }
                 .iframe-container iframe {
                     /* height: ; */
                     width: 100%
                 }
                 .About_Contact_Form_Title {
                     font-weight: bolder;
                     font-size: 18px;
                     margin-bottom: 1px;
                 }
                 .About_Contact_Form_Title_Header {
                     font-weight: bolder;
                     font-size: 25px;
                     margin-bottom: 1px;
                 }
                 video {
                     width: 100%;
                     max-height: 100%;
                 }
                 .col-25,
                 .col-75,
                 input[type=submit] {
                     margin: auto;
                     width: 90%;
                     margin-top: 0;
                 }
                 .font-size-card {
                     font-size: 22px;
                 }
             }
             /* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
             
             @media (min-width: 320px) and (max-width: 480px) {
                 /* CSS */
                 .desktop {
                     visibility: hidden;
                     clear: both;
                     display: none;
                 }
                 .Master_Header_Menu_Horizontal {
                     position: sticky;
                 }
                 .Master_Header_Menu_Horizontal ul li {
                     display: none;
                     line-height: 50px;
                     padding: 0px 15px;
                     text-align: center;
                 }
                 .iframe-container iframe {
                     /* height: 992; */
                     width: 100%;
                 }
                 .About_Contact_Form_Title {
                     font-weight: bolder;
                     font-size: 18px;
                     margin-bottom: 1px;
                 }
                 .About_Contact_Form_Title_Header {
                     font-weight: bolder;
                     font-size: 25px;
                     margin-bottom: 1px;
                 }
                 video {
                     width: 100%;
                     max-height: 100%;
                 }
                 .col-25,
                 .col-75,
                 input[type=submit] {
                     margin: auto;
                     width: 95%;
                     margin-top: 0;
                 }
                 .font-size-card {
                     font-size: 22px;
                 }
             }